### 1 task: Create a Jupyter Notebook

### 2 task: Create markdown cell with title of the notebook

# Big Data in Law Enforcement

### 3 task: Create a markdown cell for an introduction

## Introduction
### Big data refers to data that is so large, fast, or complex that it is difficult or impossible to process it using traditional methods. Cybersecurity is the application of technologies, processes, and controls to protect systems, networks, programs, devices, and data from cyber attacks.

### 4 task: Create a markdown cell to list data science language

*Some of the popular languages that Data Scientists use are:*

1. Python
2. C++
3. Java

### 5 task: Create a markdown cell to list data science libraries

*Some of the commonly used libraries used by Data Scientists include:*

- Pandas
- NumPy
- Scikit-Learn

### 6 task: Create a markdown cell with a table of Data Science tools.

| Data Science Tools     |
|------------------------|
| Jupyter Notebook       |
| Apache Spark           |
| RStudio                |

### 7 task: Create a markdown cell with arithmetic expression

### Below are a few examples of evaluating arithmetic expressions in Python.

In [4]:
# Example 1: Addition
5 + 3

8

In [5]:
# Example 2: Subtraction
10 - 4

6

In [6]:
# Example 3: Multiplication
6 * 2

12

In [7]:
# Example 4: Division
20 / 5

4.0

### 8 task: Create a code to multiply and add numbers

In [11]:
# This is a simple arithmetic expression
(4 * 6) + 11

35

### 9 task: Create a code cell to convert minutes to hours

In [18]:
# This will convert 300 minutes to hours by dividing by 60
300 // 60

5

### 10 task: Insert a markdown cell to list Objectives

**Objectives:**

- Introduce commonly used libraries for Data Science.
- Demonstrate arithmetic expressions in Python.
- Showcase code comments and their importance.

### 11 task: Create a markdown cell to indicate the Authorâ€™s name

## Author
Moldir Kalamgali